# Development dependencies for linting and formatting
black==23.9.1
flake8==7.3.0
isort==6.0.1
mypy==1.6.1
bandit==1.7.5
yamllint==1.32.0
pre-commit==4.3.0

# Additional helpful tools
pylint==3.0.1
autopep8==2.3.2
